doctype html
html
  head
    // <link rel="stylesheet" href="style.css">
    link(rel='stylesheet', href='stylesheets/libs/nanoscroller.css')
    link(rel='stylesheet', href='stylesheets/libs/tipsy.css')
    link(rel='stylesheet', href='stylesheets/libs/spectrum.css')
    link(rel='stylesheet', href='stylesheets/vrl.css')
    // for modal popup
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css')
    //
      <script src="Noise_data.js"></script>
  body
    #mainContainer
      #topMenuBarDIV
        #showHideButtonDIV
          button#addDataBtn.theButton Add Data
        #resetDIV
          button#resetBtn.theButton Reset
        #timeRangeDIV
          b
            | Time between 
            span#timeRangeFromText.timeRangeText
            |  and 
            span#timeRangeToText.timeRangeText
            |  with Time difference of 
            span#timeRangeDifferenceText.timeRangeText
        #showHideButtonCover
          button#showHideBtn.theButton(style='') Data Setting
          #showHideButtonPanel.dropMenu
            button#closeSettingButton.theCancelButton(title='Close') ×
            #listDataDIV
      #FocusDIVCover
        .titleBar
          .barTitle
            b Focus (Detail View)
          .showHide
        #FocusDIV
      #TimeLineHandlerDIVCover
        .titleBar
          .barTitle
            b Context (Overview)
          .showHide
        #TimeLineHandlerDIV
      #TimeLineDIVCover
        .titleBar
          .barTitle
            b Timeline 
          .showHide
        #TimeLineDIV
      #LocationAndNotesDIV
        #LocationDIV
        #NotesDIV
          #NotesTitleDIV
            b User-submitted Notes
          #NotesPanel.nano
            #NotesPanelContents.nano-content
    #addDataModal.theModalContainer
      .modalClose.b-close(id='')
        button.theCancelButton.easy-modal-close(title='Close') ×
      #fileUploadDIV
        form#uploadForm(method='post', enctype='multipart/form-data', action='')
          | Add data
          input#fileUploadName.fileNameHolder.theButton(type='file', name='file')
          input#submitFileUploadBtn(type='submit', value='Submit')
    #resetDialogModal.theModalContainer
      .modalClose.b-close(id='')
        button.easy-modal-close.theCancelButton(title='Close') ×
      #resetDialogDIV
        span#resetText  Are you sure you want to reset?
        button#resetYesBtn.theButton.b-close Yes
        button#resetCancelBtn.theButton.b-close Cancel
  script(src='http://d3js.org/d3.v3.js')
  script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
  script(src='javascripts/libs/svg.min.js')
  script(src='javascripts/libs/jquery-2.1.3.min.js')
  script(src='javascripts/libs/jquery.svg.js')
  script(src='javascripts/libs/jquery.tipsy.js')
  script(src='javascripts/libs/jquery.nanoscroller.min.js')
  script(src='javascripts/libs/jquery.form.min.js')
  script(src='javascripts/libs/jquery.bpopup.min.js')
  script(src='javascripts/libs/tinysort.min.js')
  script(src='javascripts/libs/spectrum.js')
  script(src='https://maps.googleapis.com/maps/api/js')
  script(src='javascripts/models.js')
  script(src='javascripts/focus.js')
  script(src='javascripts/timeline.js')
  script(src='javascripts/theMap.js')
  script(src='javascripts/theNotes.js')
  script(src='javascripts/timelineHandles.js')
  script(src='javascripts/utility.js')
  // the main script that runs everything
  script(src='javascripts/vrl.js')
