
svg {
    font-size: 10px;
}

.line {
    fill: none;
    stroke: steelblue;
    clip-path: url(#clip);
}


.theLine {
    clip-path: url(#clip);
}

.theCircle {
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

rect.pane {
  	cursor: move;
  	fill: none;
  	pointer-events: all;
}

/*#####################*/

/* The Right Slider */
.e {
  fill: #35baf6;
}

/* The Left Slider */
.w {
  fill: #35baf6;
}

/*#####################*/
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #404040;
}

#mainContainer {
	margin: 10px;
	background: #fff;
	border: 1px solid #ccc;
}

	.timeRangeText { 
		color: #0000ff;
	}

	#topMenuBarDIV, #FocusDIVCover, #TimeLineHandlerDIVCover, TimeLineDIVCover { 
		border-bottom: 1px solid #bbb;
	}
	
	#timeRangeDIV {
		height: 20px;
		text-size: 14px;
		text-align: center;
		padding-top: 3px;
	}
	
	.titleBar {
		height: 14px;
		font-size: 12px;
		padding-top: 2px;
	}
	
	.barTitle {
		float: left;
		font-size: 14px;
		padding-left: 10px;
	}
		
	.showHide { 
		float: right;
		padding-right: 5px;
	}
	
	#FocusDIVCover {
		
	}
	
	
#LocationAndNotesDIV {
	height: 500px;
	background: #eee;
}

#LocationDIV {	
  width: 70%;
  background-color: #eee;
  height: 100%;
  float: left;
	border-left: 1px solid #5398ff;
	border-top: 1px solid #5398ff;
	border-bottom: 1px solid #5398ff;
}

#NotesDIV {
	width: 30%;
	height: 500px;
	float: left;
	border: 1px solid #5398ff;
}

#NotesTitleDIV {
	background-color: #ddd;
	height: 25px;
	text-align: center;
	border-bottom: 1px solid #5398ff;
	padding-top: 5px;
}



/*####################################*/

.noteBox {
	width: 100%;
	border-bottom: 1px solid #5398ff;
	/*
	border-left: 1px solid #5398ff;
	border-right: 1px solid #5398ff;
	*/
}

.noteBoxBackground1  {
	background: #fff;		
	background: -moz-linear-gradient(top, #fff 0%, #F0F8FF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#F0F8FF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#F0F8FF 100%); /* Chrome10+,Safari5.1+ */
}

.noteBoxBackground2 {
	background: #CEDFF9;
}

.noteBoxColor {
	width: 15px;
	float: left;
	margin: 3px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.noteBoxTimestamp {
	width: 145px;
	font-size: 13px;
	float: left;
	padding: 5px 0px 0px 5px;
}

.noteBoxNotes {
	font-size: 15px;
	padding: 5px 0px 0px 5px;
	float: left;
}

/*####################################*/
/* The Nano Scroller */
.nano { 
}

.nano .nano-content { 
	padding: 0px; 
}

.nano .nano-pane   { 
	background: #eee; 
}

.nano .nano-slider { 
	background: #68aee8; 
}


/*####################################*/

.tipsy { 
	font-size: 12px;
}

#NotesPanel {	
	height: 469px;
}

.dot {
	stroke: #000;
	stroke-width: 2;
	radius: 5;
	
}

div.tooltip {
	position: absolute;
	text-align: center;
	padding: 6px;
	font: 18px sans-serif;
	background: #000;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	pointer-events: none;
	
}

.tooltipMainValue {
	font-size: 20px;	
}

.tooltipOtherValue {
	font-size: 11px;	
}


.y-axis-label {
	font-size: 15px;
}

/*####################################*/
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

/*####################################*/

.theModalContainer {
	width: 500px;
	height: 60px;
	background: #eee;
	display: none;
}

.fileNameHolder {
	width: 300px;
}

#fileUploadDIV {
	padding-top: 20px;
	padding-left: 20px;
}	
	#chooseColorContainer {
		height: 100px;
		background: #ddd;
	}

	#innerColorContainer {
		padding: 10px;
	}
	
.modalClose {
	position: absolute;
	right: 0;
}

#resetDialogModal {
	width: 405px;
}

#resetDialogDIV {
	padding: 20px 10px 10px 30px;
}
	#resetText , #resetYesBtn, #resetCancelBtn {
		margin-right: 10px;
	}

#listDataDIV {
	margin-top: 0px;
}

	.easy-modal,
	.easy-modal-animated {
		width: 600px;
		padding: 2em;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
		background-color: white;
	}
	
	.easy-modal-close {
		float: right;
	}
	
	
	select.list1 option.option2
{
    background-color: #007700;
}
	
/*####################################*/	
#topMenuBarDIV {
	height: 25px;
}

 #resetDIV , #timeRangeDIV{
	float: left;
 }

#uploadForm {
	float: left;
}

#showHideButtonDIV {
	float: left;
	margin-left: 10px;
}
	#addDataBtn {
		width: 130px;
	}
	
	#resetBtn {
		float: left;
		width: 70px;
	}
	
	.theButton {	
		background: #35baf6;
		color: #fff;
		cursor:pointer; 
		text-shadow: 0px 0px 3px #000000;
	}
	
	.theCancelButton {
		background: #FF8989;
		color: #fff;
		cursor:pointer; 	
	}
	
	#showHideButtonPanel {
		width: 515px;
		background: #fff;
		top: 32px;
		right: 21px; 
		position: absolute;
		padding: 15px 0px 10px 15px;
		
		border: 1px solid #bbb;
		box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.75);
		display: none;
		z-index: 10;
	}
	
	#showHideBtn {
		width: 130px; 
		float: right; 
		right: 21px;
		position: absolute;
		background: #35baf6;
		color: #fff;
	}
	
	#closeSettingButton {
		position: absolute;
		right: 0;
		top: 0;
	}

	
.drop-menu {
	border: 1px solid #222;
	font-size: 11px;
	display: none;
	position: absolute;
	margin-left: 53px;
	z-index: 10;
	
	text-align: left;
	
	background: none repeat scroll 0 0 #222;
    border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		
    color: #555555;
    width: 135px;
    margin-left: 0px;
    margin-top:1px;
    box-shadow: 1px 2px 5px 3px #000;
		-moz-box-shadow: 1px 2px 5px 3px #000;
		-webkit-box-shadow: 1px 2px 5px 3px #000;
		filter: progid:DXImageTransform.Microsoft.Shadow(Color=#111111, Strength=1, Direction=0),
				progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=7, Direction=90),
				progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=7, Direction=180),
				progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=7, Direction=270);
}



.listDataItemDIV {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.listOrdinalDataDIV {
	width: 100%;
	margin-bottom: 10px;
}

.sensorDataInfoDIV {
	width: 100%;
	top: -15px;
	margin-bottom: 10px;
	position: relative;
}

	.sensorDataInfo {
		margin-left: 132px;
	}
	.ordinalItem {
		height: 20px;
	}
	
	.noOfOrdinalItem {
		margin-left: 10px;
		float: left;
	}
	
	.listDataItemColorBox {
		width: 10px;
		height: 17px;
		margin-left: 10px;
		margin-right: 5px;
		float: left;
	}
	
	
	.listDataNameAndRangeCover, .listDataItemVisibilityStatus, .colorPickerCover {
		float: left;
		margin-right: 10px;
	}
	
	.listDataNameAndRangeCover {
		width: 360px;
		height: 20px;
	}
	
	.listDataItemDataName {
		width: 100%;
	}
	.listDataItemTimeRange {
		width: 100%;
	}

	.listDataItemVisibilityStatus {
	
	}

	.timestampString {
		font-size: 14px;
		color: #0000ff;
	}

	
.hiddenNoteBox {
	display: none;
}	

#ordinalValuesContainer {
	margin-left: 240px;
}

.ordinalValueText {
	margin-left: 10px;
}

.sp-container {
	left: 737.453125px!important;
}